{{ $img := resources.Get "images/Blob.svg" }}      
<div class="flex flex-col items-center justify-evenly mb-6">
  <div class="grid grid-cols-1">
    <div class="text-center	bg-auto bg-center	bg-no-repeat">
      <p class="text-7xl font-raleway text-black font-normal	tracking-wide	leading-tight mb-8">
        Books For The <br> Next Generation of <br> <span class="text-primary">Digital-native Founders,<br> Builders, <span
          class="text-black">and</span> <br> World-Changers</span>
      </p>
    </div>
  </div>
  <div>
    <div class="mx-auto bg-white rounded-xl shadow-xl overflow-hidden m-3 px-8 py-6">
      <h3 class="text-3xl mb-4">
        Welcome to our Curated Reads for Innovators
      </h3>
      <p class="text-xl">
        Here, we share books that challenge, inspire, and drive us to continuously innovate. <br><br>Handpicked from the narratives of trailblazers, the theories of thought leaders, and the strategies of global entrepreneurs, these selections are our learning springboard to creating the best versions of our products and ourselves. <br><br>Let's engage, share, and learn from these thought-provoking pages and build the most amazing entrepreneurial community in the universe.
      </p>
    </div>
  </div>
</div>

