<head>
  <title>{{ .Site.Title }}</title>
  {{ $a := resources.Get "/images/apple-touch-icon.png" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $a.RelPermalink }}">
  {{ $b := resources.Get "/images/favicon-32x32.png" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $b.RelPermalink }}">
  {{ $c := resources.Get "/images/favicon-16x16.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $c.RelPermalink }}">
  {{ $d := resources.Get "/images/site.webmanifest" }}
  <link rel="manifest" href="{{ $d.RelPermalink }}">

  {{ $styles := resources.Get "css/styles.scss" | toCSS | postCSS (dict "config" "./assets/css/postcss.config.js") }}
  {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  {{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZNN1ENWXVK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZNN1ENWXVK');
  </script>
  {{ end }}

  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:description" content="Foundership: A vibrant, global community of trailblazing entrepreneurs, forging connections, empowering innovation, and transforming the world. Join us!">
  <meta property="og:image" content="{{ $a.Permalink }}">
</head>
