
<section class="bg-themeWhite  " >
  <div class="lg:container md:container-fluid  lg:mx-auto">
    <header class="relative z-50	">
      <nav class="mx-auto flex items-center justify-between p-6 pb-0 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            {{ $img := resources.Get "images/Logo.svg" }}
            <img class="w-auto" alt="logo" src="{{ $img.Permalink }}">
          </a>
        </div>
        <div class="md:flex md:justify-end md:items-center md:gap-x-12">
          <div class="flex justify-evenly gap-x-4 mb-4 lg:mb-0">
            <a href="/" class="font-roboto text-xl font-normal leading-6 text-nav hover:text-black">Home</a>
            <a href="/books" class="font-roboto text-xl font-normal leading-6 text-nav hover:text-black">Curated Books</a>
          </div>
          {{ partial "subscribeButton" }}
        </div>
      </nav>
    </header>
</div>
</section>
