
<section class="bg-themeWhite  " >
  <div class="lg:container md:container-fluid  lg:mx-auto">
    <header class="relative z-50	">
      <nav class="-mg-10 mx-auto flex  items-center justify-between p-6 pb-0 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            {{ $img := resources.Get "images/Logo.svg" }}
            <img class="w-auto" alt="logo" src="{{ $img.Permalink }}">
          </a>
        </div>
        <div class="flex  md:hidden lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden  md:flex md:justify-end md:items-center md:gap-x-12">
          <a href="#whoWeAre" class="font-roboto text-xl font-normal leading-6 text-nav hover:text-black">Who we are</a>

          <a href="#whatWeDo" class="font-roboto text-xl font-normal leading-6 text-nav hover:text-black">What we do</a>

          {{ partial "subscribeButton.html" . }}
        </div>
      </nav>
    </header>
</div>
</section>
