<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-11">
  <div class="bg-themeLightNavy p-8 rounded-2xl">
    <div class="bg-white rounded-full w-40 h-40"></div>
    <p class="font-roboto text-navyBlueText text-2xl py-8	font-medium italic leading-9 lg:w-full	xl:w-9/12	">“There is no open and awesome digital-native community that aims to create an awesome environment for entrepreneurs and digital nomads.”</p>
    <p class="font-raleway text-black text-4xl	font-medium">Jack</p>
  </div>
  <div class="bg-themeLightNavy p-8 rounded-2xl">
    <div class="bg-white rounded-full w-40 h-40"></div>
    <p class="font-roboto text-navyBlueText text-2xl py-8	font-medium italic leading-9 lg:w-full	xl:w-9/12	">“There is no open and awesome digital-native community that aims to create an awesome environment for entrepreneurs and digital nomads.”</p>
    <p class="font-raleway text-black text-4xl	font-medium">Mary</p>
  </div>
  <div class="bg-themeLightNavy p-8 rounded-2xl">
    <div class="bg-white rounded-full w-40 h-40"></div>
    <p class="font-roboto text-navyBlueText text-2xl py-8	font-medium italic leading-9 lg:w-full	xl:w-9/12	">“There is no open and awesome digital-native community that aims to create an awesome environment for entrepreneurs and digital nomads.”</p>
    <p class="font-raleway text-black text-4xl	font-medium">Nathan</p>
  </div>
</div>