<p class="pt-16 font-raleway text-navyBlue text-5xl pb-10	font-medium	">Testimonials</p>
<p class="font-roboto text-navyBlueText text-lg pb-10	font-normal">After the session, each participant is contacted
personally and directly to ensure they had a positive experience, collect feedback, and find out how we can best
curate the next session to ensure they continue to learn.  Here's what some of our members have to say:</p>
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-11">
  <div class="bg-themeLightNavy p-8 rounded-2xl">
    <div class="bg-white rounded-full w-40 h-40"></div>
    <p class="font-roboto text-navyBlueText text-2xl py-8	font-medium italic leading-9 lg:w-full	xl:w-9/12	">“Foundership has been an invaluable resource for me. There's something so powerful about being able to connect with people across the world in different industries and learn from each other. The mastermind sessions are super well conducted and structured in a way that everyone can walk away with answers, ideas and clarity. Anyone who is a business owner or looking to be one should be a part of this wonderful community!”</p>
    <p class="font-raleway text-black text-4xl	font-medium">Priyanka Shankar, <a href="https://horenso.co/">Horenso</a></p>
  </div>
  <div class="bg-themeLightNavy p-8 rounded-2xl">
    <div class="bg-white rounded-full w-40 h-40"></div>
    <p class="font-roboto text-navyBlueText text-2xl py-8	font-medium italic leading-9 lg:w-full	xl:w-9/12	">“”</p>
    <p class="font-raleway text-black text-4xl	font-medium">Mary</p>
  </div>
  <div class="bg-themeLightNavy p-8 rounded-2xl">
    <div class="bg-white rounded-full w-40 h-40"></div>
    <p class="font-roboto text-navyBlueText text-2xl py-8	font-medium italic leading-9 lg:w-full	xl:w-9/12	">“There is no open and awesome digital-native community that aims to create an awesome environment for entrepreneurs and digital nomads.”</p>
    <p class="font-raleway text-black text-4xl	font-medium">Nathan</p>
  </div>
</div>
